<template>
  <q-page padding>
    <h2>ID:</h2>
    <p>{{todo.id}}</p>
    <h2>todo:</h2>
    <p>{{todo.text}}</p>
    <h2>done:</h2>
    <p>{{todo.done}}</p>

  </q-page>
</template>

<script>
import TodoService from '../boot/todoService'

export default {
  name: 'todoDatail',
  props: {
    id: {
      type: String,
      default: '0'
    }
  },
  data: function () {
    return {
      todo: {}
    }
  },
  created: function () {
    const service = new TodoService()
    service.getDetail(this.id)
      .then(function (result) {
        this.todo = result
      }.bind(this))
      .catch(e => {
        this.todo = {}
        this.$q.notify('failed to get data')
      })
  },
  watch: {
    id: function () {
      const service = new TodoService()
      service.getDetail(this.id).then(function (result) { this.todo = result }.bind(this)).catch(e => { this.todo = {}; this.$q.notify('failed to get data') })
    }
  }
}
</script>
