<template>
  <q-page padding>
    <q-toolbar>
      <q-toggle
        :value="showDone"
        @input="toggleShow($event)"
        color="green"
        checked-icon="checked"
        label="show done"
      ></q-toggle>
      <q-toggle
        :value="map"
        @input="toggleMap($event)"
        color="green"
        checked-icon="checked"
        label="show map"
      ></q-toggle>
    </q-toolbar>
    <todo-map
      :todos="todos"
      :showDone="showDone"
      v-if="map"
      @addOnMap="newTodo($event)"
      @setDone="done($event)"
    ></todo-map>
    <todo-list
      :todos="todos"
      :showDone="showDone"
      v-if="!map"
      @deleteTodo="remove"
    ></todo-list>
    <q-page-sticky
      position="bottom-right"
      :offset="[18, 18]"
    >
      <q-btn
        fab
        icon="add"
        color="accent"
        @click="prompt"
      />
    </q-page-sticky>
  </q-page>
</template>

<script>
import todoList from '../components/todoList.vue'
import todoMap from '../components/todoMap.vue'
import TodoService from '../boot/todoService'

export default {
  name: 'Todos',
  components: {
    todoList,
    todoMap
  },
  data () {
    return {
      todos: [],
      showDone: true,
      map: false
    }
  },
  methods: {
    toggleShow: function (e) {
      this.showDone = e
    },
    remove: function (id) {
      this.todos = this.todos.filter(t => t.id !== id)
    },
    prompt () {
      this.$q
        .dialog({
          title: 'Prompt',
          message: 'wat moet er gebeuren?',
          prompt: {
            model: '',
            type: 'text' // optional
          },
          cancel: true,
          persistent: true
        })
        .onOk(data => {
          let todo = {
            id: this.todos[this.todos.length - 1].id + 1,
            text: data,
            done: false
          }
          this.todos.push(todo)
          const service = new TodoService()
          service.add(todo)
        })
    },
    done: function (index) {
      this.maptodos[index].done = !this.maptodos[index].done
    },
    toggleMap: function (e) {
      this.map = e
    },
    newTodo: function (e) {
      console.log(e.offsetX + ' ' + e.offsetY)
      this.$q
        .dialog({
          title: 'Prompt',
          message: 'wat moet er gebeuren?',
          prompt: {
            model: '',
            type: 'text' // optional
          },
          cancel: true,
          persistent: true
        })
        .onOk(data => {
          let todo = {
            id: this.todos[this.todos.length - 1].id + 1,
            text: data,
            done: false,
            x: e.offsetX,
            y: e.offsetY
          }
          this.todos.push(todo)
          const service = new TodoService()
          service.add(todo)
        })
    },
    getStyle: function (todo) {
      return (
        'left: ' +
        (todo.x + 6) +
        'px; top: ' +
        (todo.y + 32) +
        'px;' +
        this.markerStyle(todo)
      )
    },
    markerStyle: function (todo) {
      if (todo.done) {
        return 'border: 5px solid green'
      }
      return 'border: 5px solid red'
    }
  },
  computed: {
    maptodos: function () {
      let todos = this.todos
      if (!this.showDone) {
        todos = todos.filter(t => !t.done)
      }
      todos = todos.filter(t => t.x !== undefined && t.y !== undefined)
      return todos
    }
  },
  created: function () {
    const service = new TodoService()
    service.get().then(function (result) { this.todos = result; console.log(result) }.bind(this))
  }
}
</script>

<style scoped>
</style>
