<template>
  <div id="app">
    <input type="range" min="0" max="20" v-model="snelheid" />
    <button class="circleBtn" @click="addCircle()">+</button>
    <button class="circleBtn" @click="remCircle()">-</button>
    <button @click="onStart()">start</button>
    <div class="circles">
      <color-circle
        :speed="snelheid"
        :key="c.id"
        :changeColor="!stopped"
        v-for="(c, index) in circles"
        @Colorstop="stoped(index, $event)"
      ></color-circle>
    </div>
    <div v-if="won">gewonnen</div>
  </div>
</template>

<script>
import ColorCircle from "./components/ColorCircle.vue";

export default {
  name: "app",
  components: {
    ColorCircle
  },
  data: function() {
    return {
      colors: [50, 100, 150, 200, 250, 300, 350],
      intervalID: 1,
      won: false,
      snelheid: "1",
      stopped: true,
      circles: [
        { color: 1, stopped: false, id: 0 },
        { color: 2, stopped: false, id: 1 },
        { color: 2, stopped: false, id: 2 }
      ]
    };
  },
  methods: {
    stoped(index, color) {
      console.log(color);
      this.circles[index].stopped = true;
      this.circles[index].color = color;
      if (this.circles.every(c => c.stopped)) {
        if (this.circles.every(c => c.color == this.circles[0].color)) {
          this.won = true;
        }
        this.stopped = true;
      }
    },
    onStart() {
      this.won = false;
      this.stopped = false;
    },
    addCircle() {
      this.circles.push({
        color: 1,
        stopped: true,
        id: this.circles[this.circles.length - 1].id + 1
      });
      this.circles[this.circles.length - 1].stopped = false;
    },
    remCircle() {
      if (this.circles.length > 1) {
        this.circles.pop();
      }
    }
  },
  computed: {
    gewonnen() {
      if (this.won) {
        return { display: "block" };
      } else {
        return { display: "none" };
      }
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.circles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
</style>
