<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue hello world</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="app">
      <label for="name">Your name</label>
      <input type="text" id="name" v-model="user" />
      <button @click="onAdd">Add</button>
      <div>You({{userUpperCase}}) clicked {{counter}} times on the button</div>
      <div v-if="numberBetween(counter, 3, 6)">
        You clicked the button between 3 and 6 times
      </div>
      <input type="text" id="filter" v-model="filter" />
      <ul>
        <li v-for="click in filterClickList">
          {{click}}
        </li>
      </ul>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          counter: 0,
          clickList: [],
          user: "",
          filter: ""
        },
        methods: {
          onAdd() {
            this.counter++;
            this.clickList.push(
              "You " +
                this.userUpperCase +
                " clicked on the button " +
                new Date()
            );
          },
          numberBetween(x, min, max) {
            return x > min && x < max;
          },
          filterFunction(value) {
            return value.includes(this.filter);
          }
        },
        computed: {
          userUpperCase() {
            return this.user.toUpperCase();
          },
          filterClickList() {
            return this.clickList.filter(this.filterFunction);
          }
        }
      });
    </script>
  </body>
</html>
