body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: lightblue;
  color: white;
  border-radius: 20%;
  border: none;
  width: 100px;
  height: 50px;
  display: block;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
}

input {
  margin: 5%;
  border-color: lightsteelblue;
  background-color: lightyellow;
  border-width: 5px;
  border-style: solid;
  border-radius: 25%;
}
