<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue hello world</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="app">
      <h1>vue circle game</h1>
      <button @click="addCirc()">add</button>
      <button @click="remCirc()" id="remove">remove</button>
      <div>
        <label for="range">Delay: {{snelheid / 10}}s</label>
        <input
          type="range"
          class="range"
          name="range"
          :class="{ 'blue': blue, 'ltpurple': ltpurple, 'purple': purple, 'pink': pink, 'red': red}"
          :min="min"
          :max="max"
          v-model="snelheid"
        />
      </div>
      <button @click="onStart">start</button>
      <div id="circles">
        <div
          v-for="(circle, index) in circles"
          class="circle"
          :style="getCircleStyle(index)"
          @click="onCircleStop(index)"
        ></div>
      </div>
      <div v-if="won" id="winnerText"><marquee>You won!</marquee></div>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: function() {
          return {
            colors: [50, 100, 150, 200, 250, 300, 350],
            intervalID: 1,
            circles: [
              {
                color: 0,
                stopped: false
              },
              {
                color: 2,
                stopped: false
              },
              {
                color: 4,
                stopped: false
              }
            ],
            won: false,
            snelheid: 10,
            blue: false,
            ltpurple: false,
            purple: true,
            pink: false,
            red: false,
            min: "0",
            max: "20"
          };
        },
        methods: {
          onStart() {
            clearInterval(this.intervalID);
            this.circles.forEach(c => {
              c.stopped = false;
            });
            this.won = false;
            this.intervalID = setInterval(() => {
              this.circles.forEach(circle => {
                if (!circle.stopped) {
                  circle.color = getRandomIntDifferentFrom(
                    0,
                    this.colors.length - 1,
                    circle.color
                  );
                }
              });
            }, this.snelheid * 100);
          },
          onCircleStop(index) {
            this.circles[index].stopped = !this.circles[index].stopped;
            if (this.circles.every(c => c.stopped === true)) {
              if (this.circles.every(c => c.color === this.circles[0].color)) {
                this.won = true;
              } else {
                this.won = false;
              }
            }
          },
          addCirc() {
            this.circles.push({ color: 2, stopped: false });
            this.onStart();
            remove.disabled = false;
          },
          remCirc() {
            if (this.circles.length > 1) {
              this.circles.pop();
              this.onStart();
            }
            if (this.circles.length <= 1) {
              remove.disabled = true;
            }
          },
          getCircleStyle(index) {
            const currentColor = this.colors[this.circles[index].color];
            return {
              backgroundColor: this.hslColor(currentColor, 80, 50),
              boxShadow:
                "0 -2px 0 3px " +
                this.hslColor(currentColor, 80, 40) +
                "inset, 0 20px rgba(255,255,255,0.25) inset," +
                "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)"
            };
          },
          hslColor(hue, saturation, lightness) {
            return "hsl(" + hue + "," + saturation + "%," + lightness + "%)";
          },
          colorhandler() {
            if (this.snelheid < parseInt(this.max, 10) / 5) {
              this.blue = false;
              this.ltpurple = false;
              this.purple = false;
              this.pink = false;
              this.red = true;
            } else if (this.snelheid < (parseInt(this.max, 10) * 2) / 5) {
              this.blue = false;
              this.ltpurple = false;
              this.purple = false;
              this.pink = true;
              this.red = false;
            } else if (this.snelheid < (parseInt(this.max, 10) * 3) / 5) {
              this.blue = false;
              this.ltpurple = false;
              this.purple = true;
              this.pink = false;
              this.red = false;
            } else if (this.snelheid < (parseInt(this.max, 10) * 4) / 5) {
              this.blue = false;
              this.ltpurple = true;
              this.purple = false;
              this.pink = false;
              this.red = false;
            } else {
              this.blue = true;
              this.ltpurple = false;
              this.purple = false;
              this.pink = false;
              this.red = false;
            }
          }
        },
        computed: {},
        watch: {
          snelheid: function() {
            this.onStart();
            this.colorhandler();
          }
        }
      });
      function getRandomIntDifferentFrom(min, max, not) {
        let rand = not;
        while (rand == not) {
          rand = Math.floor(Math.random() * Math.floor(max)) + min;
        }
        return rand;
      }
    </script>
  </body>
</html>
