body {
  font-family: Arial, Helvetica, sans-serif;
}

button:disabled {
  background-color: gray;
  border-color: gray;
  color: black;
  cursor: default;
}

button:disabled:hover {
  background-color: gray;
  border-color: gray;
  color: black;
  cursor: default;
}

#winnerText {
  font-size: 8rem;
  -webkit-animation: color_change 1s infinite alternate;
  -moz-animation: color_change 1s infinite alternate;
  -ms-animation: color_change 1s infinite alternate;
  -o-animation: color_change 1s infinite alternate;
  animation: color_change 1s infinite alternate;
}

@-webkit-keyframes color_change {
  from {
    color: yellow;
  }
  to {
    color: green;
  }
}
@-moz-keyframes color_change {
  from {
    color: yellow;
  }
  to {
    color: green;
  }
}
@-ms-keyframes color_change {
  from {
    color: yellow;
  }
  to {
    color: green;
  }
}
@-o-keyframes color_change {
  from {
    color: yellow;
  }
  to {
    color: green;
  }
}
@keyframes color_change {
  from {
    color: yellow;
  }
  to {
    color: green;
  }
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#circles {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid darkGreen;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  background-color: darkgreen;
}
button:hover {
  background-color: #06d85f;
  border-color: #06d85f;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  display: block;
  left: 20%;
  width: 50%;
  margin-top: 10px;
  transform: translate(0%, 100%);
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(226, 10, 10, 1) 0%,
    rgba(255, 53, 127, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(87, 111, 230, 1) 75%,
    rgba(59, 173, 227, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(226, 10, 10, 1) 0%,
    rgba(255, 53, 127, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(87, 111, 230, 1) 75%,
    rgba(59, 173, 227, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(226, 10, 10, 1) 0%,
    rgba(255, 53, 127, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(87, 111, 230, 1) 75%,
    rgba(59, 173, 227, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(226, 10, 10, 1) 0%,
    rgba(255, 53, 127, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(87, 111, 230, 1) 75%,
    rgba(59, 173, 227, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(226, 10, 10, 1) 0%,
    rgba(255, 53, 127, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(87, 111, 230, 1) 75%,
    rgba(59, 173, 227, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(226, 10, 10, 1) 0%,
    rgba(255, 53, 127, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(87, 111, 230, 1) 75%,
    rgba(59, 173, 227, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    rgba(226, 10, 10, 1) 0%,
    rgba(255, 53, 127, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(87, 111, 230, 1) 75%,
    rgba(59, 173, 227, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(226, 10, 10, 1) 0%,
    rgba(255, 53, 127, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(87, 111, 230, 1) 75%,
    rgba(59, 173, 227, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(226, 10, 10, 1) 0%,
    rgba(255, 53, 127, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(87, 111, 230, 1) 75%,
    rgba(59, 173, 227, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(226, 10, 10, 1) 0%,
    rgba(255, 53, 127, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(87, 111, 230, 1) 75%,
    rgba(59, 173, 227, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: white;
  cursor: -webkit-grab;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: white;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-webkit-slider-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-webkit-slider-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-webkit-slider-thumb {
  border-color: rgb(255, 53, 127);
}

.range.red::-webkit-slider-thumb {
  border-color: rgb(226, 10, 10);
}

.range.blue::-moz-range-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-moz-range-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-moz-range-thumb {
  border-color: rgb(255, 53, 127);
}

.range.red::-moz-range-thumb {
  border-color: rgb(226, 10, 10);
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

@media screen and (min-width: 540px) {
  #circles {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
