<template>
  <div class="circle" @click="onStop()" :style="getCircleStyle()"></div>
</template>

<script>
export default {
  name: "ColorCircle",
  props: {
    initialColor: {
      type: Number,
      default: 1
    },
    colors: {
      type: Array,
      default: function() {
        return [0, 50, 100, 150, 200, 250, 300, 350];
      }
    },
    changeColor: {
      type: Boolean,
      default: false
    },
    speed: {
      type: String,
      default: "1"
    }
  },
  data: function() {
    return {
      currentColor: 1,
      intervalID: 0,
      started: this.changeColor
    };
  },
  methods: {
    onStart() {
      clearInterval(this.intervalID);
      this.intervalID = setInterval(() => {
        if (this.started) {
          this.currentColor = this.getrandomIntnot(
            0,
            this.colors.length,
            this.currentColor
          );
        }
      }, this.speed * 100);
    },
    getCircleStyle() {
      const currentColor = this.colors[this.currentColor];
      return {
        backgroundColor: this.hslColor(currentColor, 80, 50),
        boxShadow:
          "0 -2px 0 3px " +
          this.hslColor(currentColor, 80, 40) +
          "inset, 0 20px rgba(255,255,255,0.25) inset," +
          "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)"
      };
    },
    hslColor(hue, saturation, lightness) {
      return "hsl(" + hue + "," + saturation + "%," + lightness + "%)";
    },
    getrandomIntnot(min, max, not) {
      var rand = not;
      while (rand === not) {
        rand = Math.floor(Math.random() * max) + min;
      }
      return rand;
    },
    onStop() {
      this.started = false;
      this.$emit("Colorstop", this.currentColor);
      this.onStart();
    },
    enable() {
      this.started = true;
      this.currentColor = this.initialColor;
    }
  },
  watch: {
    changeColor: function() {
      if (this.changeColor) {
        this.enable();
        this.onStart();
      }
    },
    speed: function() {
      this.onStart();
    }
  },
  mounted() {
    this.onStart();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
</style>
