<template>
  <q-list bordered>
    <q-item
      v-for="(todo) in todoList"
      :key="todo.id"
    >
      <q-checkbox
        v-model="todo.done"
        :checked="todo.done"
        :label="todo.text"
        color="green"
      />
      <q-btn
        flat
        round
        color="red"
        icon="delete"
        @click="$emit('deleteTodo', todo.id)"
      />
    </q-item>
  </q-list>
</template>

<script>
export default {
  name: 'todoList',
  data () {
    return {
    }
  },
  props: {
    todos: {
      type: Array
    },
    showDone: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    remove: function (id) {
      this.todos = this.todos.filter(t => t.id !== id)
    }
  },
  computed: {
    todoList: function () {
      if (!this.showDone) {
        return this.todos.filter(t => !t.done)
      }
      return this.todos
    }
  }
}
</script>
