<template>
  <div class="mapcontainer">
    <q-img
      src="../statics/floorplan.jpg"
      :ratio="1"
      @click="$emit('addOnMap', $event)"
      style="width: 600px; height: 600px"
    />
    <div
      class="mapMarker"
      v-for="(td, index) in maptodos"
      :key="td.id"
      @click="$emit('setDone', index)"
      :style="getStyle(td)"
    ></div>
  </div>
</template>

<script>
export default {
  name: 'todoMap',
  data () {
    return {

    }
  },
  props: {
    todos: {
      type: Array
    },
    showDone: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    prompt () {
      this.$q
        .dialog({
          title: 'Prompt',
          message: 'wat moet er gebeuren?',
          prompt: {
            model: '',
            type: 'text' // optional
          },
          cancel: true,
          persistent: true
        })
        .onOk(data => {
          this.todos.push({
            id: this.todos[this.todos.length - 1].id + 1,
            text: data,
            done: false
          })
        })
    },
    done: function (index) {
      this.maptodos[index].done = !this.maptodos[index].done
    },
    getStyle: function (todo) {
      return (
        'left: ' +
        (todo.x + 6) +
        'px; top: ' +
        (todo.y + 32) +
        'px;' +
        this.markerStyle(todo)
      )
    },
    markerStyle: function (todo) {
      if (todo.done) {
        return 'border: 5px solid green'
      }
      return 'border: 5px solid red'
    }
  },
  computed: {
    maptodos: function () {
      let todos = this.todos
      if (!this.showDone) {
        todos = todos.filter(t => !t.done)
      }
      todos = todos.filter(t => t.x !== undefined && t.y !== undefined)
      return todos
    }
  }
}
</script>

<style scoped>
.mapContainer {
  position: relative; /* allows absolute positioning of children (= the markers) */
  overflow: auto; /* shows scrollbars for the contained image only if needed */
}
.mapMarker {
  border-radius: 50% 50% 50% 0;
  border: 4px solid #000;
  width: 35px;
  height: 35px;
  transform: rotate(-45deg);
  position: absolute;
}
.mapMarker::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  background-color: #000;
}
</style>
